Source: libcariad-font-open24display
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-font-open24display
Replaces: libdisplaycore-font-open24display
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Fonts
Depends: libcariad-core
Provides: Open24Display.h
Description: Open24Display
